body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0;
}
a {
    color: #4879BA;
    text-decoration: none;
}
a:hover {
    color: #325584;
    text-decoration: underline;
}

a.plain:link {
    color: #333;
    text-decoration: none;
}

a.plain:active {
    color: #333;
    text-decoration: none;
}

a.plain:visited {
    color: #333;
    text-decoration: none;
}

a.plain:hover {
    color: #333;
    text-decoration: none;
}

/*.status-bar {*/
    /*height: 60px;*/
/*}*/

/*.about-icon {*/
    /*float: left;*/
    /*margin-right: 12px;*/
/*}*/

/*.footer {*/
    /*margin-top: 30px;*/
    /*padding-top: 10px;*/
    /*color: #999;*/
    /*border-top: solid 1px #ddd;*/
/*}*/

/*.footer > p {*/
    /*padding-top: 4px !important;*/
    /*padding-bottom: 4px !important;*/
/*}*/

/*h5 {*/
    /*width: 100%;*/
    /*white-space: nowrap;*/
    /*margin-bottom: 4px;*/
/*}*/

.thumbnail {
    /*include description*/
    min-height: 450px;
    /*min-height: 330px;*/
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    display: block;
    line-height: 20px;
    padding: 25px;
    transition: all 0.2s ease-in-out 0s;
}

.from_source{
    font-size: 10px;
    font-weight: bold;
}

.pubdate{
    float: right;
    font-size: 10px;
    font-weight: bold;
    margin-right: 12px;
}

.story_image_container{
    margin-bottom: 20px;
    max-height: 200px;
}

.story_image{
    max-height: 200px;
}

/*.thumbnails li {*/
    /*margin-left: 0px !important;*/
    /*margin-right: 20px !important;*/
/*}*/

/*legend {*/
    /*font-family: 'Andika';*/
/*}*/

.home-hero {
    color: white;
    margin-top: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
}

.front-bg {
    background: none repeat scroll 0 0 #000000;
    height: 200%;
    left: -50%;
    position: fixed;
    width: 200%;
}

/*@media only screen and ( max-width : 1000px ) {*/
    /*.home-hero {*/
        /*padding:100px;*/
    /*}*/
/*}*/

/*@media only screen and ( max-width : 480px ) {*/
    /*.home-hero {*/
        /*padding:32px;*/
    /*}*/
/*}*/


/*.home-hero .btn {*/
    /*font-family: "arvo";*/
    /*width: 160px;*/
    /*margin: 10px 4px;*/
/*}*/

/* Social proof buttons from GitHub & Twitter */
/*.bs-docs-social {*/
    /*padding: 15px 0;*/
    /*text-align: center;*/
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #fff;*/
    /*border-bottom: 1px solid #ddd;*/
/*}*/

/* Quick links on Home */
/*.bs-docs-social-buttons {*/
    /*margin-left: 0;*/
    /*margin-bottom: 0;*/
    /*padding-left: 0;*/
    /*list-style: none;*/
/*}*/

/*.bs-docs-social-buttons li {*/
    /*display: inline-block;*/
    /*padding: 5px 8px;*/
    /*line-height: 1;*/
    /**display: inline;*/
    /**zoom: 1;*/
/*}*/

/*.well h3 {*/
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
/*}*/

.sr_left_alignment{
    text-align: left;
    margin-left: 22px;
    margin-right: 22px;
}

/*override bootstrap css*/
.modal {
    margin: -380px 0 0 -380px;
    width: 760px;
}

.modal-body {
    max-height: 600px;
    overflow-y: auto;
    padding: 15px;
}

.subheading {
    color: #808080;
    margin-top: 3px;
    text-shadow: -1px 1px 0 #FFFFFF;
}

label {
    color: #808080;
    text-shadow: -1px 1px 0 #FFFFFF;
}

#loginModal{
    font-size: 13px;
    margin-left: -200px;
    margin-top: -250px;
    text-align: left;
    text-shadow: 0 0 0;
    width: 380px;
}

#remember-me{
    float: right;
    margin-right: 70px;
    margin-top: 5px;
}

.loginError{
    color: red;
}

/*overwrite notification*/
.notifications.top-right {
    right: 10px;
    top: 45px;
    min-width: 250px;
}

/* hide scroll bar when model dialog is open.*/
body.modal-open {
    overflow: hidden;
}

/* =====make color triangle categorization.=======================*/
.category-tag{
    border-left: 35px solid #FFFFFF;
    border-top: 35px solid #FFFFFF;
    float: right;
    font-size: 0;
    line-height: 0;
    width: 0;
}

.color-news{
    border-top-color: #9E3B33;
}
.color-military{
    border-top-color: #153450;
}
.color-finance{
    border-top-color: #37241E;
}
.color-web{
    border-top-color: #81C6DD;
}
.color-realestate{
    border-top-color: #DFC184;
}
.color-car{
    border-top-color: #DF7782;
}
.color-sports{
    border-top-color: #62587C;
}
.color-entertain{
    border-top-color: #EC633F;
}
.color-game{
    border-top-color: #C9341C;
}
.color-education{
    border-top-color: #644436;
}
.color-women{
    border-top-color: #CC0066;
}
.color-tech{
    border-top-color: #90CA77;
}
.color-social{
    border-top-color: #0063DC;
}
.color-fashion{
    border-top-color: #F9D654;
}
