<div class="row-fluid">
    <table  class="table table-striped">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Title</th>
            <th>Description</th>
            <th>Score</th>
            <th>Operation</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% _.each(action, function(story) { %>
        <tr>
            <td><img id="picture" width="180" src="<%= story.picture %>"/></td>
            <td><%= story.name%></td>
            <td><%= story.description%></td>
            <td><%= story.score%></td>
            <td>
                <button data-id="<%= story._id%>" class="edit btn btn-primary">Edit</button>
            </td>
            <td><button data-id="<%= story._id%>" class="btn delete">Delete</button></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>